<!DOCTYPE html>
<html ng-app="TodoList">
<head>
	<title>To-Do-List</title>
</head>
<style type="text/css">
	span.true{
		color:grey;
		font-style:italic;
		text-decoration:line-through;
	}
	span[contenteditable="true"]{
		background: gray;
		padding: 4px;
	}
</style>
<body>
	<div ng-controller="addTaskController">
		<h1 style="text-align: center;">Add a task</h1>
		<input type="text" name="" style="display:block;margin:0 auto;padding: 5px;font-size: 15px; width: 300px;" ng-keyup="searchEnter()" ng-model="task">
		<div id="taskToShow">
			<ul >
				<li ng-repeat="onetask in tasks">
					<input type="checkbox" ng-model="onetask.status">
					<span contenteditable="false" ng-dblclick= "edit()" ng-keydown="enterAgain(onetask.taskMessage)"ng-model="onetask.taskMessage" class="{{onetask.status}}">{{ onetask.taskMessage }}</span>
					<input type="text" hidden>
				</li>
			</ul>
		</div>
	</div> 
</body>

<script type="text/javascript" src="https://code.angularjs.org/1.5.9/angular.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.5.9/angular-route.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</html>